Menu:

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="https://dtzxporter.com/tools">Tools</a></li>
  <li><a href="https://forum.modme.co">Forum Archive</a></li>
</ul>

Wiki:

<ul>
  <li><a href="{{ '/wiki/Game-Support-_-Black-Ops-1.html' | relative_url }}">Game Modding | Black Ops 1</a></li>
  <li>
    <a href="{{ '/wiki/Game-Support-_-Black-Ops-3.html' | relative_url }}">Game Modding | Black Ops 3</a>
    <ul>
      <li><a href="{{ '/wiki/black_ops_3/Basics.html' | relative_url }}">Basics</a></li>
      <li><a href="{{ '/wiki/black_ops_3/In-depth-Guides.html' | relative_url }}">In-depth Guides</a></li>
      <li><a href="{{ '/wiki/black_ops_3/Intermediate.html' | relative_url }}">Intermediate</a></li>
      <li><a href="{{ '/wiki/black_ops_3/Lua-(LUI).html' | relative_url }}">Lua (LUI)</a></li>
      <li><a href="{{ '/wiki/black_ops_3/Modding-Info.html' | relative_url }}">Modding Info</a></li>
    </ul>
  </li>
  <li><a href="{{ '/wiki/Game-Support-_-World-at-War.html' | relative_url }}">Game Modding | World at War</a></li>
  <li><a href="{{ '/wiki/Models-and-Animation.html' | relative_url }}">Models and Animation</a></li>
</ul>